.back-inner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f2bf9e73;

    width: 100%;
    padding: 10px 10px 30px 10px;

    border-radius: 34px;
    border-top: 3px solid;
    border-color: #CF9A6F;

    box-shadow: 
    #CF9A6F 0px 2px 6px 0px inset,
    #CF9A6F 0px -1px 2px 1px,
    rgba(0,0,0,0.06) 0px -6px 3px 0px inset,
    rgba(255,255,255,0.4) 0px 5px 2px 1px;

    box-sizing: border-box;
}