:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-image: url("/assets/backgrounds/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}